 body {
}
li{
	display:inline;
}
.wrapper{
	width: 90%;
	margin: auto;
}
.container{
	width: 800px;
	margin: auto;
}
#placeholder {
    letter-spacing: 0.5em;
  }
 
  #wins {
    font-size: 40px;
  }
  h1 {
    color: blue;
    font-size: 40px;
    font-family: 'Sigmar One', cursive;
  }
  #placeholder {
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
  }
  footer {
    position: fixed;
    bottom: 25px;
    text-align: center;
    left: 42.5%;
  }